* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-green: #00856f;
    --brand-green-light: #dce9e2;
    --brand-green-light-02: #f7f9f9;
    --brand-beige: #fffaf1;
    --brand-green-hover: #00453a;
    --brand-headline: #061800;
    --gray-paragraph: #384633;
    --white: #ffffff;
}

body {
    font-family: "DM Sans", sans-serif;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

header {
    width: 100%;
    height: 72px;
    background-color: var(--brand-green-light);
}

.header-container {
    width: 100%;
    height: inherit;
    padding: 0 24px;

    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.header-container .logo span {
    font-size:  2rem;
    font-weight: 400;
    color: var(--gray-headline);
}

.header-container .logo .care {
    color: var(--brand-green);
    font-weight: 600;
}

.header-container .menu,
.agendar {
    display: none;
}

.header-container .menu-sandwich {
    background-color: var(--brand-green-light);
    border: 0;
}

@media (min-width:768px) {
    .header-container{
        max-width: 1600px;
        margin:auto;
    }

    .header-container .menu,
    .agendar {
        display: flex;
    }

    .header-container .menu-sandwich {
        display:none;
    }

    .header-container .menu ul {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .menu ul li {
        position: relative;
    }

    .menu ul li a {
        text-decoration: none;
        font-size: 1rem;
        color: var(--brand-green);
    }

    .menu ul li:first-child::after {
        content:"";
        width: 100%;
        height: 2px;
        background-color: var(--brand-green);
        position: absolute;
        left: 0;
        bottom: -24px;
    } 

    .menu ul li:first-child a {
        font-weight: 600;
    }

    .header-container .agendar {
        width: auto;
        height: 38px;
        padding: 0% 16px;
        border-radius: 1rem;
        border: 1px solid var(--brand-green);
        text-transform: uppercase;
        color: var(--brand-green);
        font-weight: 700;
        background-color: var(--brand-green-light);

        display: flex;
        align-items: center;
        justify-content: center;
    
    }
}