* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-green: #00856F;
    --brand-green-light: #dce9e2;
    --brand-green-light-02: #f7f9f9;
    --brand-beige: #fffaf1;
    --brand-green-hover: #00453A;
    --gray-headline: #061800;
    --gray-paragraph: #384633;
    --white: #ffffff;
    --title: #212529;
    --text: #495057;
}


html {
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: var(--brand-green-light-02);
    overflow-x: hidden;
}

button {
    cursor: pointer
}

li {
    list-style: none;
}

header {
    width: 100vw;
    height: 72px;
    background: var(--brand-green-light);
}

.header-container {
    width: 100%;
    height: inherit;
    padding: 0 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-container .logo span {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--gray-headline)
}

.header-container .menu,
.agendar {
    display: none;
}

.header-container .logo .care {
    font-weight: 600;
    color: var(--brand-green);
}

.header-container .menu-sandwich {
    background-color: var(--brand-green-light);
    border: 0;
}

#home {
    width: 100%;
    height: auto;
    overflow-x: hidden;

    background: var(--brand-green-light);
}

#home .home-container {
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
}

#home .home-container .home-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home .home-container .home-left .welcome {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--brand-green);
    text-align: center;
}

#home .home-container .home-left .title {
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 130%;
    color: var(--gray-headline);
    margin-top: 1rem;
    text-align: center;
}

#home .home-container .home-left .description {
    max-width: 350px;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--text);
    margin-top: 1.5rem;
    text-align: center;
}

#home .home-container .home-left .schedule {
    width: 263px;
    height: 52px;
    border-radius: 32px;
    border: 0;
    background-color: var(--brand-green);

    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875rem;

    color: var(--white);

    margin-top: 2rem;
}

#home .home-container .home-right {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 40px 24px;
}

.numbers {
    width: calc(100% - 24px);
    height: auto;
    border-radius: 8px;
    padding: 30px 0;
    background-color: var(--brand-green-light-02);
    border: 1px solid #dce9e2;

    margin: -40px auto 0;
    position: relative;
    z-index: 99999;

    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.numbers .card {
    height: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers .card h2 {
    font-size: 3rem;
    color: var(--gray-headline);
}

.numbers .card p {
    font-size: 1rem;
    color: var(--brand-green);
    font-weight: 400;
}

.servicos {
    padding: 80px 24px;
    color: var(--brand-green);

    display: flex;
    flex-direction: column;
    align-items: center;

}

.servicos .service-tag {
    text-align: center;

}

.servicos .section-title {
    text-align: center;
    font-size: 30px;
    max-width: 314px;
    color: var(--title);
}

.servicos .service-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    margin-top: 60px;
}

.servicos .card-service {
    background-color: var(--white);
    border: 1px solid var(--brand-green-light);

    padding: 24px;
    color: var(--gray-headline);

}

.servicos .card-service img {
    margin-bottom: 16px;
}

.servicos .card-service .service-title {
    margin-bottom: 16px;
}

.servicos .card-service .sevice-description {
    color: var(--text);
}

@media (min-width: 768px) {

    .header-container .menu,
    .agendar {
        display: flex;

    }

    .header-container .menu-sandwich {
        display: none;
    }

    .header-container .menu ul {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .menu ul li {
        position: relative;
    }

    .menu ul li a {
        text-decoration: none;
        font-size: 1rem;
        color: var(--brand-green);
    }

    .menu ul li:first-child::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: var(--brand-green);
        position: absolute;
        left: 0;
        bottom: -24px;
    }

    .menu ul li:first-child a {
        font-weight: 600;
    }

    .header-container .agendar {
        width: auto;
        height: 38px;
        padding: 0 18px;
        border-radius: 16px;
        border: 1px solid var(--brand-green-light);
        text-transform: uppercase;
        color: var(--brand-green);
        font-weight: 700;

        display: flex;
        align-items: center;
        justify-content: center;


    }

}

@media (min-width: 1080px) {

    #home .home-container {
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        padding: 0;
    }

    #home .home-container .home-left,
    .home-right {
        width: 50%;
    }

    #home .home-container .home-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    #home .home-container .home-left .title {
        font-size: 3.25rem;
        text-align: left;
    }

    #home .home-container .home-left .description {
        text-align: left;
        max-width: 545px;
    }

    .numbers {
        width: 1300px;
        height: 210px;
        top: -70px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .numbers .divider {
        width: 1px;
        height: 83px;
        background: var(--brand-green);
        margin: 0 50px;
    }

    .servicos .service-container {
        max-width: 1300px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .servicos .section-title {
        max-width: 497px;
        margin-bottom: 32px;
    }

    .sobre-nos {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 160px 0;
        gap: 67px;
        background-color: var(--brand-beige);
    }

    .text-sobre .sobre-teg {
        margin-bottom: 10px;
        font-size: 14px;
        color: var(--brand-green);
    }

    .text-sobre .title-sobre {
        font-size: 40px;
        max-width: 400px;
        padding-bottom: 24px;
    }

    .text-sobre .sobre-title {
        max-width: 573px;
    }

    .section-contato {
        padding: 160px 0;
        display: flex;

    }

    .container-contato {
        padding: 180px 120px ;
        
       
    }

     .section-contato .title-contato {
        max-width: 400px;
        font-size: 40px;
     }

     .section-contato .img-contato {
        padding: 160px 20px;
        width: 100%;
     }

}